# Homework 1

In [3]:
import numpy as np
import pandas as pd

np.set_printoptions(suppress=True)

## Q1 Panda version

In [4]:
ver = pd.__version__
print(ver)

2.0.3

## Q2 Records count

In [5]:
df = pd.read_csv("./laptops.csv")
df.shape[0]

2160

In [6]:
df.head(2)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.0
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.0

## Q3 Laptop Brands

In [7]:
df.Brand.nunique()

27

## Q4 Missing Values

In [8]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

## Q5 Max Final Price

In [12]:
df.groupby("Brand")[["Final Price"]].max()
df[df["Brand"]=="Dell"][["Final Price"]].max()

Final Price    3936.0
dtype: float64

## Q6 Median Value of Screen

In [13]:
med = df["Screen"].median()
print(f"The median value of Screen is : {med}")

mod = df["Screen"].mode(dropna=True)[0]
print(f"The most common value in Screen is : {mod}")

df["Screen"].fillna(mod, inplace=True)
med = df["Screen"].median()
print(f"The median value of Screen is : {med}")

The median value of Screen is : 15.6
The most common value in Screen is : 15.6
The median value of Screen is : 15.6

## Q7 Sum of weights

In [35]:
newdf = df[['Brand', 'RAM', 'Storage', 'Screen']]
group = newdf.groupby('Brand')
new_group = group.get_group('Innjoo')
#print(new_group)

# Get numpy array
X = new_group[['RAM', 'Storage', 'Screen']].values
#print(X)

XTX = np.dot(X.T,X)
#print(f'Dot Product of XT and X is :\n{XTX}')

inv_XTX = np.linalg.inv(XTX)
#print(f'Inverse matrix of XTX is :\n{inv_XTX}')

y = [1100, 1300, 800, 900, 1000, 1100]

w1 = np.dot(inv_XTX,X.T)
w = np.dot(w1,y)
#print(f'dot product gives w= :\n{w}')
print(f' Sum of w give = {sum(w)}')

 Sum of w give = 91.29988062995815